# System files
.DS_Store

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Received files
p2pSend/received/*
!p2pSend/received/.gitkeep

# Demo files (large videos)
*.mp4
demo/

# IDE
.vscode/
.idea/
.bolt/

# Local Netlify folder
.netlify
